
    <div class="card">
        <div class="img-wrapper">
            <img class="card-img-top" src="assets/images/house.avif">
            <div class="button1 text-center animate">
<button class="btn btn-primary text-center"><i class="bi bi-arrows-angle-expand"></i></button>
            </div>
        </div>
        
        
        <div class="card-body">
            <h1>{{property.Type}}</h1>
            <h3>{{property.Name}}</h3>
            <h5>{{property.Price}}</h5>
        </div>
    </div>

